<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Який ти депутат? Вони голосують для тебе</title>
  <link href="//code.cdn.mozilla.net/fonts/fira.css" media="screen" rel="stylesheet">
  <!-- Bootstrap -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
  <!-- Style CSS-->
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
</head>
<body>
<div class="waper">
  <div class="header">
    <a href="https://rada4you.org/" class="brand">Вони голосують для тебе</a>
    <button class="brand" id="about">Про тест</button>
  </div>
  <div id="point"></div>
  <div class="heading">
    <div class="left-head"></div>
    <div class="centre-head">
      <h1 class="text-center">Який ти депутат?</h1>
    </div>
    <div class="right-head"></div>
  </div>
  <div class="about">
    <a href="#" class="close-thik"></a>
    <span>Якщо б ти був/була депутатом, то як би голосував/ла?
    <p>Пройди тест – дізнайся правду!</p>
    <p>Результати згенеровано сервісом <br> <a href="https://rada4you.org" target="_blank">RADA4YOU.ORG</a> на базі парламентських даних.</span>

  </div>
  <div id="messages">

  </div>
  <button class="button" id ="start" >Пройти тест</button>
  <div class="next">
    <button class="button" id="next" style="display:none;">Далі</button>
  </div>
  <div class="selector"></div>
  <div class="result"></div>
</div>
<footer class="footer">
  <p class="text-center">Підготовлено в рамках Програми USAID “РАДА: підзвітність, відповідальність, демократичне парламентське представництво”, що виконується Фондом Східна Європа.
    <br> &copy; Громадянська мережа ОПОРА 2017</p>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<script>
  $( ".brand, .about" ).click(function() {
    $( ".about" ).fadeToggle( "slow" );

  });
  var i=1;
  $("#start").on("click", function(){
    $('.waper').css("background-color", "#ffea8a");
   $('span').css('color','#333;');
    $('#point').remove();
    $('#start').remove();
    socket.emit('start test', $('#m').val());
//    $('#next').show("slow")
    //socket.emit('question message', $('#m').val());
    return false;
  });
  $("#next").on("click", function(){
//    console.log($("input[type=radio][name=answer]:checked").val());
    socket.emit('answer message', $("input[type=radio][name=answer]:checked").val());
    $('.radio').remove();
    $('h2').remove();
    $('#next').hide("fast");
    i++
    return false;
  });

  socket.on('question message', function(msg){

    //i++;
    $( ".selector" ).progressbar( {
      value: i,
      max: 17
    } );

    $('#messages').append($("<h2 class='query'>").text(msg[0] ));
//    $('#messages').append($("<p></p>"));
    if (msg[1] == -1){
      $('#messages').append("<div class='radio'><input name='answer' id='male' type='radio' value='1'> " +
              "<label for='male'>Жіноча</label><input name='answer' id='female' type='radio' value='2'><label for='female'>Чоловіча</label>" +
              "<input name='answer' id='none' type='radio'  value='3'><label for='none'>Пропустити</div>");
    } else if (msg[1] == -2){
      $('#messages').append("<div class='radio'><input name='answer' id='18' type='radio' value='1'><label for='18'>До 18</label>" +
              "<input name='answer' id='18-25' type='radio' value='2'><label for='18-25'>18-25</label>" +
              "<input name='answer' id='26-35' type='radio'  value='3'><label for='26-35'>26-35</label>" +
              "<input name='answer' id='36-45' type='radio'  value='4'><label for='36-45'>36-45</label>" +
              "<input name='answer' id='46-60' type='radio' value='5'><label for='46-60'>46-60</label>" +
              "<input name='answer' id='60' type='radio' value='6'><label for='60'>більше 60</label></div>");
    } else
    {
      $('#messages').append("<div class='radio'><input name='answer' id='first' type='radio' value='1'><label for='first'>Підтримую!</label>" +
              "<input name='answer' id='second' type='radio' value='2'><label for='second'>Не підтримую</label>" +
              "<input name='answer' id='third' type='radio'  value='3'><label for='third'>Не знаю</label>" +
              "<input name='answer' id='fourth' type='radio'  value='4'><label for='fourth'>Мені байдуже</label></div>");
    }
    $(":radio").on("click", function () {
      if ($('#next').is(':hidden')) {
        $('#next').show("fast");
        $('#next').css('display',"block !important");
        $('#next').css('margin',"0 auto");
//        console.log("Click");
      }

    });


  });
  socket.on('redirect', function(destination) {
    window.location.href = destination;
  });
  socket.on('finish message', function(msg){
    $('#messages').append($('<h1 class="query">').text(msg));
    $( ".selector" ).remove();
    $('#next').remove();
  });
</script>
</body>
</html>
