html, body {
    font-family: "Fira Sans", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    color: #fff;

}
.header {
    /*padding-top: 60px;*/
    /*padding-bottom: 60px;*/
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: left;
    background-color: #ffea8a;
}
#point{
    min-height: 10rem;
    max-height: 200px;
}
.brand {
    float: left;
    padding: 11px 15px;
    text-decoration: none;
    line-height: 28px;
    font-size: 18px;
    color: #333;
}
.left-head {
    display:inline-block;
    float: left;
    background-image: url(../img/left.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20%;
    min-height: 110px;
}
.centre-head {
    display:inline-block;
    width: 60%;

}
.right-head {
    display:inline-block;
    float: right;
    background-image: url(../img/right.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20%;
    min-height: 110px;
}
.waper {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    background-color: #ffbb43;
    margin: 0 auto;
}
.button {
    background-color: #428bca;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: #034f84;
}
.result {
    min-height: 100px;
    max-height: 100%;
}
#start{
    display: block !important;
    margin: 0 auto;
}

@media screen and (max-width: 700px)  {
    #messages {
        position: relative;
        display: block;
        width: 95%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    footer {
        height: 155px;
        margin-top: -80px;
        position: relative;
        /*left: 0;*/
        /*bottom: 0;*/
        /*width: 100%;*/
        /*height: 80px;*/
        border-top: 16px #428bca solid;
        background: #274486;
        color: #ddd;
        /*margin-top: 48px;*/
        /*padding-top: 150px;*/
        /*padding-bottom: 100px;*/

    }
}
@media screen and (min-width: 700px) {
    #messages {
        position: relative;
        display: block;
        width: 60%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    footer {
        height: 85px;
        margin-top: -80px;
        position: relative;
        /*left: 0;*/
        /*bottom: 0;*/
        /*width: 100%;*/
        /*height: 80px;*/
        border-top: 16px #428bca solid;
        background: #274486;
        color: #ddd;
        /*margin-top: 48px;*/
        /*padding-top: 150px;*/
        /*padding-bottom: 100px;*/

    }
}

.next {
    margin: 0 auto;
    padding: 10px;
    display: block !important;
    width: 200px;
    height: 50px;

}
#next {
    display: block;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.heading {
    background-color: #ffbb43;
}
#about{
    border: none;
    background-color: transparent;
    margin: inherit;
    float: right;
}
h1.text-center {
    margin-top: 0;
    font-size: 46px;
    color: #034f84;
    text-transform: uppercase;
}

.about {
    border-radius: 130px;
    margin: auto;
    background-color: inherit;
    background-image: url(../img/intro.png);
    background-size: 800px;
    background-position: center;
    background-repeat: no-repeat;
    width:  100%;
    /*max-width: 900px;*/
    height: 600px;
    top: 100px;
    position: absolute;
    z-index: 1;
    line-height: 500px;
    text-align: center;
}
.close-thik {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 40%;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 50px;
}
.close-thik:after {
    content: '✖'; /* UTF-8 symbol */
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.query {

    text-align: center;
    color: 	#696969;
}
/* radio */
.radio {
    margin: 0 auto;
    display: block;
    max-width: 500px;
    height: 100%;

}
label {
    display: block;
    /*display: inline-block;*/
    /*cursor: pointer;*/
    text-align: left;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 20px;
    color: #696969;
}
input[type=radio] {
    display: none;
}
label::before {
    margin-bottom: 5px;
}
label:before {
    display: block;
    content: "";
    /*display: inline-block;*/

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #ffffff;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.radio label:before {
    border-radius: 8px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color:  #696969;
    font-size: 30px;
    text-align: center;
    line-height: 21px;
}
.ui-widget-header {
    border: 1px solid #ffbb43 !important;
    background: #ffbb43 !important;
}

.member-photo {
    border-radius: 200px;
}
.selector {
    margin: 0 auto;
    max-width: 500px;
    width: 60%;
}
